{% extends 'base.jinja2' %}

{% block subtitle %}View all donations by specific Donor{% endblock subtitle %}

{% block content %}
<form method="GET">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name-input">Donor Name:</label><input id="name-input" type="text" name="name"><br />
    <input type="submit" value="Submit Name"><br />
    <h1>All donations by {{ donor_name }}</h2>
    <ul>
        {% for donation in donations %}
            <li>{{ donation.value }}</li>
        {% endfor %}
    </ul>
</form>
{% endblock content %}
